# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de entornos virtuales
venv/
env/
.venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Archivos temporales
*.tmp